.index-page.parent {
    gap: 25px;
    margin-top: -20px;
}

.index-page .div1 {
    width: 60%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 666px;
}

.index-page .div2 {
    width: 40%;
    height: 80%;
    border-radius: 20px;
    padding-left: 75px;
    justify-content: center;
}

.index-page .photos_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    margin-top: auto;
    background-color: #172439;
    border-radius: 20px;
}

.index-page .div1 .photos_div {
    align-items: end;
}

.index-page .carousel_div{
    height: 375px;
}